<nav class="navbar navbar-expand-lg navbar-brand container-fluid bg-white rounded w-75 mx-auto">
  <div class="container-fluid">
    <a class="navbar-brand" href="/#">
      <img src="src/assets/images/rockola.png" alt="" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#inicio"
            >Inicio</a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Canciones
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#canlistar">Listado</a></li>
            <li>
              <a class="dropdown-item" href="#canbuscar">Buscar</a>
            </li>
            <li>
              <a class="dropdown-item" href="#canreproducir"
                >Reproducción aleatoria</a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" href="#cansugerir"
                >Sugerir una canción</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Mantenimiento
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#maningresar">Ingresar</a></li>
            <li>
              <a class="dropdown-item" href="#manactualizar">Actualizar</a>
            </li>
            <li>
              <a class="dropdown-item" href="#manborrar"
                ><i class="fa-solid fa-skull-crossbones"></i> Borrar</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#creditos">Créditos</a>
        </li>
      </ul>
      <span class="navbar-text"> Iniciar sesión </span>
    </div>
  </div>
</nav>
