<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2" style="height:1200px ;"></div>
    <div class="col-sm-8">
      <div class="container-fluid">
        <nav class="navbar bg-light mt-3 rounded-3">
          <div class="container-fluid">
            <a class="navbar-brand"
              ><img src="src/assets/images/search.png" alt=""
            /></a>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
              <label class="form-check-label" for="flexRadioDefault1">
                Género
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
              <label class="form-check-label" for="flexRadioDefault2">
                Intérprete
              </label>
            </div>
            <form class="d-flex" role="search">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Ingresar texto"
                aria-label="Search"
              />
              <button class="btn btn-outline-dark" type="submit">Buscar</button>
            </form>
          </div>
        </nav>
      </div>
    </div>
    <div class="col-sm-2" style="height:1200px ;"></div>
  </div>
</div>