  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2">
       
      </div>
      <div class="col-sm-8">
        <div class="accordion mt-5 mx-auto" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                Equipo de trabajo
              </button>
            </h2>
            <div
              id="collapseOne"
              class="accordion-collapse collapse show"
              aria-labelledby="headingOne"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <div class="mt-sm-1 container-sm">
                  <table
                    class="table table-secondary table-responsive-sm table align-middle caption-top table-striped-columns"
                  >
                    <thead>
                      <tr class="table-dark">
                        <th scope="col-sm-2">Códigos</th>
                        <th scope="col-sm-4">Foto</th>
                        <th scope="col-sm-3">Rol</th>
                        <th scope="col-sm-3">Perfil</th>
                      </tr>
                    </thead>
                    <tbody class="table-group-divider"></tbody>
                    <tbody>
                      <tr>
                        <th scope="row">2223588</th>
                        <td>
                          <figure class="figure">
                            <img
                              src="src/assets/images/JAcosta.png"
                              class="figure-img img-fluid rounded"
                              alt="..."
                            />
                            <figcaption class="figure-caption">
                              Jairo Acosta Solano
                            </figcaption>
                          </figure>
                        </td>
                        <td>Scrum Master</td>
                        <td>
                          Ing. Industrial <br />
                          Msc. Visual Analytics & Big Data <br />
                          Docente Investigador
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">2224114</th>
                        <td>Jennys Noelim Albarracín Gaitán</td>
                        <td>Product Owner</td>
                        <td>Diseñadora Gráfica</td>
                      </tr>
                      <tr>
                        <th scope="row">2223972</th>
                        <td>Julian Gutiérrez</td>
                        <td>Scrum Team</td>
                        <td>Ingeniero Informático</td>
                      </tr>
                      <tr>
                        <th scope="row">2224472</th>
                        <td>Oscar Villareal</td>
                        <td>Scrum Team</td>
                        <td>Ingeniero Físico <br />Docente</td>
                      </tr>
                      <tr>
                        <th scope="row">2223913</th>
                        <td>Oscar Fernando Zabala Carrillo</td>
                        <td>Scrum Team</td>
                        <td>
                          Ingeniero Electrónico <br />Coordinador Telecomunicaciones
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                Imágenes
              </button>
            </h2>
            <div
              id="collapseTwo"
              class="accordion-collapse collapse"
              aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <div class="mt-sm-5 container-sm">
                  <table
                    class="table table-secondary table-responsive-sm table align-middle caption-top mx-auto table-striped-columns"
                  >
                    <thead>
                      <tr class="table-dark">
                        <th scope="col" class="col-sm-2">Imagen</th>
                        <th scope="col" class="col-sm-10">Enlace</th>
                      </tr>
                    </thead>
                    <tbody class="table-group-divider"></tbody>
                    <tbody>
                      <tr>
                        <th scope="row">
                          <img src="src/assets/images/rockola.png" alt="" />
                        </th>
                        <td>
                          <a
                            href="https://www.flaticon.es/iconos-gratis/tocadiscos-tragamonedas"
                            title="tocadiscos tragamonedas iconos"
                            >Tocadiscos tragamonedas iconos creados por smalllikeart
                            - Flaticon</a
                          >
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">
                          <img src="src/assets/images/search.png" alt="" />
                        </th>
                        <td>
                          <a
                            href="https://www.flaticon.es/iconos-gratis/tocadiscos-tragamonedas"
                            title="tocadiscos tragamonedas iconos"
                            >Tocadiscos tragamonedas iconos creados por smalllikeart
                            - Flaticon</a
                          >
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">
                          <img src="src/assets/images/search.png" alt="" />
                        </th>
                        <td>
                          <a
                            href="https://www.freepik.es/foto-gratis/tocadiscos-giratorio-vinilo-vintage_5896976.htm#query=rockola&position=11&from_view=search"
                            title="tocadiscos tragamonedas iconos"
                            >Image by jcomp on Frepik
                            </a
                          >
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
              >
                Videos
              </button>
            </h2>
            <div
              id="collapseThree"
              class="accordion-collapse collapse"
              aria-labelledby="headingThree"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <div class="mt-sm-5 container-sm">
                  <table
                    class="table table-secondary table-responsive-sm table align-middle caption-top container-imvid mx-auto table-striped-columns"
                  >
                    <caption>
                      Equipo de trabajo
                    </caption>
                    <thead>
                      <tr class="table-dark">
                        <th scope="col" class="col-1">Códigos</th>
                        <th scope="col" class="col-1">Foto</th>
                        <th scope="col" class="col-1">Rol</th>
                        <th scope="col" class="col-1">Perfil</th>
                      </tr>
                    </thead>
                    <tbody class="table-group-divider"></tbody>
                    <tbody>
                      <tr>
                        <th scope="row">2223588</th>
                        <td>
                          <figure class="figure">
                            <img
                              src="src/assets/images/JAcosta.jpg"
                              class="figure-img img-fluid rounded"
                              alt="..."
                            />
                            <figcaption class="figure-caption">
                              Jairo Acosta Solano
                            </figcaption>
                          </figure>
                        </td>
                        <td>Scrum Master</td>
                        <td>
                          Ing. Industrial <br />
                          Msc. Visual Analytics & Big Data <br />
                          Docente Investigador
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">2224114</th>
                        <td>Jennys Noelim Albarracín Gaitán</td>
                        <td>Product Owner</td>
                        <td>Diseñadora Gráfica</td>
                      </tr>
                      <tr>
                        <th scope="row">2223972</th>
                        <td>Julian Gutiérrez</td>
                        <td>Scrum Team</td>
                        <td>Ingeniero Informático</td>
                      </tr>
                      <tr>
                        <th scope="row">2224472</th>
                        <td>Oscar Villareal</td>
                        <td>Scrum Team</td>
                        <td>Ingeniero Físico <br />Docente</td>
                      </tr>
                      <tr>
                        <th scope="row">2223913</th>
                        <td>Oscar Fernando Zabala Carrillo</td>
                        <td>Scrum Team</td>
                        <td>
                          Ingeniero Electrónico <br />Coordinador Telecomunicaciones
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-2"></div>
    </div>    
  </div>
</div>